<tr id="<%= dom_id(item) %>">
  <td><%= link_to 'Complete', [:complete, todo_list, item], method: :patch, remote: true %></td>
  <td><%= item.content %></td>
  <td><%= link_to "Edit", [:edit, todo_list, item] %> | 
      <%= link_to 'Destroy', [todo_list, item], remote: true, method: :delete, data: { confirm: "Delete?" } %></td>
</tr>