<%= link_to 'Home', todo_lists_path %>

<h1><%= @todo_list.title %></h1>

<%= link_to '+', new_todo_list_todo_item_path(@todo_list), :class => "button tiny" %>

<table>
	<tr>
		<th width="200px"></th>
		<th width="500px"></th>
		<th width="150px"></th>
 	</tr>
	<% @todo_list.todo_items.each do |todo_item| %>
	<tr height="50px">
		<td><% if todo_item.completed?%>
			<%= time_ago_in_words(todo_item.completed_at) + ' ago' %>
		<% else%>
			<%= link_to 'Complete', complete_todo_list_todo_item_path(@todo_list, todo_item), method: :patch %>
		 <%end%></td>
		<td><%= todo_item.content %></td>
		<td><%= link_to "Edit", edit_todo_list_todo_item_path(@todo_list, todo_item) %> 
			| <%= link_to 'Destroy', todo_list_todo_item_path(@todo_list, todo_item), method: :delete, data: { confirm: "Delete?" } %></td>
	</tr>
	<% end %>
</table>