<%= link_to 'Home', todo_lists_path %>

<h1><%= @todo_list.title %></h1>

<%= form_for [@todo_list, @todo_list.todo_items.build] do |form| %>
	<p>
		<%= form.label "Add a new todo" %>
		<%= form.text_field :content %>
		<%= form.submit 'Save', :class => "button tiny" %>
	</p>
<% end %>

<table>
	<tr>
		<th width="200px"></th>
		<th width="500px"></th>
		<th width="150px"></th>
 	</tr>
	
	<% if @todo_items.any? %>
		<% @todo_items.pending.each do |item| %>
			<tr height="50px">
			  <td>
					<%= link_to 'Complete', [:complete, @todo_list, item], method: :patch %>
		    </td>
			  <td><%= item.content %></td>
			  <td>
          <%= link_to "Edit", [:edit, @todo_list, item] %> | 
					<%= link_to 'Destroy', [@todo_list, item], method: :delete, data: { confirm: "Delete?" } %>
				</td>
		  </tr>
		<% end %>
		
		<% if @todo_items.completed.any? %>	
			<tr><td><h4>Completed</h4></td></tr>
		
			<% @todo_items.completed.each do |item| %>
				<tr height="30px">
					<td>
						<%= time_ago_in_words(item.completed_at) + ' ago' %>
					</td>
					<td><%= item.content %></td>
					<td><%= link_to 'X', [@todo_list, item], method: :delete, data: { confirm: "Delete?" } %></td>
				</tr>
		  <% end %>
		<% end %>
	<% end %>
</table>
