<h3><%= @todo_list.title %></h3>
<%= form_for [@todo_list, @todo_list.todo_items.build], remote: true do |form| %>
	<p>
		<%= form.text_field :content, :placeholder => "New item" %>
		<!--<%= form.submit '+', :class => "button tiny" %> -->
	</p>
<% end %>
<div class="back-button">
  <%= link_to '<', todo_lists_path %>
</div>
<table id="pending-items">
  <tr>
    <th width="100px"></th>
    <th width="500px"></th>
    <th width="170px"></th>
    <th width="100px"></th>
  </tr>
  <% @todo_items.pending.each do |item| %>
    <%= render 'todo_items/pending_todo_item', todo_list: @todo_list, item: item %>
  <% end %>
</table>


<table id="completed-items">
	<tr><td><h5>Completed</h5></td></tr>
	<% @todo_items.completed.each do |item| %>
    <%= render 'todo_items/completed_todo_item', todo_list: @todo_list, item: item %>
  <% end %>
</table>

