<h1>New List</h1>

<%= form_for [@todo_list, @todo_item] do |form| %>
  <% if @todo_item.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@todo_item.errors.count, "error") %> prohibited this todo_list from being saved:</h3>
      <ul>
      <% @todo_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<p>
		<%= form.label :content %>
		<%= form.text_area :content %>
		<%= form.submit 'Save' %>
	</p>
	
<% end %>