<tr id="<%= dom_id(todo_list) %>">
  <td><%= link_to todo_list.title, todo_list_todo_items_path(todo_list) %><br />
      <span class="created-at"><%= todo_list.created_at.strftime("%A, %b %d") %>
      <% if todo_list.completed? %>
        . Completed: <%= todo_list.updated_at.strftime("%A, %b %d")%>
      <% end %>
      </span>
  </td>
  <td width="60px"><%= todo_list.todo_items.completed.count %> / <%= todo_list.todo_items.count %></td>
  <td width="10px"><%= link_to 'X', todo_list, method: :delete, data: { confirm: "Are you sure?" }, remote: true %></td>
</tr>