<h1>New List</h1>
<%= form_for :todo_list, url: todo_lists_path do |form| %>
	<% if @todo_list.errors.any? %>
		<div id = "error_explanation">
	      <h3><%= pluralize(@todo_list.errors.count, "error") %> prohibited this todo_list from being saved:</h3>
	      <ul>
	      <% @todo_list.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
		</div>
	<% end %>
	<p>
		<%= form.label :title%>
		<%= form.text_field :title %>
		<%= form.submit 'Save', :class => "button tiny" %>
	</p>
	
<% end %>
