<!DOCTYPE html>
<html>
<head>
  <title>TodoListApp</title>
  <link href='http://fonts.googleapis.com/css?family=Monofett' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= stylesheet_link_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <div id="page-wrap">
    <header>
      <div class="todays-date">
        <% if logged_in? %>
          <%= render 'layouts/date' %>
        <% end %>
      </div>
      <div class="signed-in-as">
        <% if logged_in? %>
          <p>Hello <%= @current_user.first_name %>
          <small><%= link_to "Log Out", :logout, method: :delete %></small><p>
        <% end%>
      </div>
      <div class="nav">
        <h1><%= link_to "Toodoos", root_path %></h1>
      </div>
    </header>

    <div id="messages">
      <% flash.each do |type, message| %>
      <div class="alert flash <%= type %>">
        <%= message %>
      </div>
      <% end %>
    </div>

    <section id="content">
      <%= yield %>
    </section>
   <%= javascript_include_tag "application" %>
  </div>
</body>
</html>
