<!DOCTYPE html>
<html>
<head>
  <title>TodoListApp</title>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= stylesheet_link_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
  
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<header>
		
		<div class="signed-in-as">
			<% if logged_in? %>
				<%= "Logged in as " + @current_user.full_name + "." %>
				<%= link_to "Log Out", :logout, method: :delete %>
			<% end%>
	  </div>
		<div class="nav">
			<h1><%= link_to "Toodoos", root_path %></h1>
		</div>
		
	</header>
	
	<div id="messages">
	  <% flash.each do |type, message| %>
	  <div class="alert flash <%= type %>">
	    <%= message %>
	  </div>
	  <% end %>
	</div>

	<section id="content">
		<%= yield %>
	</section>
 <%= javascript_include_tag "application" %>
</body>
</html>
